<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Block Chain</h1>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>Pasien</th>
            <th>Data</th>
            <th>Previous Hash</th>
            <th>Hash</th>
        </tr>
        {% for block in data %}
        <tr>
            <td>{{ block.index }}</td>
            <td>{{ block.patient }}</td>
            <td>{{ block.data }}</td>
            <td>{{ block.previous_hash }}</td>
            <td>{{ block.hash }}</td>
        </tr>
        {% endfor %}
</body>
</html>
